.login__container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 1.5rem;
}
.admin__title {
  font-size: 1.25rem;
}
.login__form {
  background: #fff;
  padding: 1.8rem 1.2rem;
  border-radius: 1rem;
  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  -ms-border-radius: 1rem;
  -o-border-radius: 1rem;
  margin-top: 2.5rem;
  display: flex;
  flex-direction: column;
  width: 20rem;
}
.login__form label {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}
.login__form label input {
  outline: none;
  border: 1px solid #00a2ff;
  padding: 0.5rem 1rem;
  margin-top: 0.5rem;
  border-radius: 0.5rem;
  -webkit-border-radius: 0.5rem;
  -moz-border-radius: 0.5rem;
  -ms-border-radius: 0.5rem;
  -o-border-radius: 0.5rem;
}
.login__form button {
  border: none;
  outline: none;
  padding: 0.65rem 1.2rem;
  text-transform: uppercase;
  border-radius: 0.5rem;
  -webkit-border-radius: 0.5rem;
  -moz-border-radius: 0.5rem;
  -ms-border-radius: 0.5rem;
  -o-border-radius: 0.5rem;
  background: #00a2ff;
  color: #fff;
}
.login__form button:disabled {
  background-color: #808080;
  cursor: not-allowed;
}
.invalid__feedback {
  color: #f31b1b;
  font-weight: 600;
  text-align: center;
  font-size: 0.85rem;
  margin-bottom: 0.5rem;
}

@media screen and (max-width: 360px) {
  .login__form {
    width: 98%;
  }
}
