.header {
  background: var(--container-color);
  padding: 2rem 0 3rem 0;
}
.wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 0.5rem;
}
.wrapper .left {
  width: 45%;
}
.wrapper .left h2 {
  font-size: 1.85rem;
  color: var(--dark-color);
  margin-bottom: 0.65rem;
}
.wrapper .left h2 span {
  color: var(--primary-color);
}
.wrapper .left h4 {
  margin-bottom: 0.5rem;
}
.wrapper .left p {
  letter-spacing: 1px;
  font-size: 0.95rem;
  font-weight: 400;
  line-height: 1.25rem;
  margin-bottom: 1rem;
}
.btn__header {
  border: none;
  outline: none;
  padding: 0.65rem 1rem;
  border-radius: 0.4rem;
  -webkit-border-radius: 0.4rem;
  -moz-border-radius: 0.4rem;
  -ms-border-radius: 0.4rem;
  -o-border-radius: 0.4rem;
  background: var(--primary-color);
  color: var(--white-color);
  text-transform: uppercase;
}
.wrapper .right img {
  width: 400px;
  height: initial;
}

@media screen and (max-width: 600px) {
  .wrapper {
    flex-direction: column;
    gap: 1rem;
    /* align-items: flex-start; */
  }
  .wrapper .left {
    width: 100%;
  }
  .wrapper .left h2 {
    font-size: 1.25rem;
  }
  .wrapper .left h4 {
    font-size: 0.9rem;
  }
  .wrapper .right img {
    max-width: 100%;
  }
  .btn__header {
    font-size: 0.75rem;
  }
}
