.timer__wrapper {
  background: linear-gradient(to left, rgb(57, 0, 212), rgb(255, 0, 98));
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1.25rem 1rem;
  margin-top: 1rem;
  border-radius: 0.3rem;
  -webkit-border-radius: 0.3rem;
  -moz-border-radius: 0.3rem;
  -ms-border-radius: 0.3rem;
  -o-border-radius: 0.3rem;
}
.timer__title {
  color: #fff;
  font-size: 1rem;
  font-weight: 500;
  margin-bottom: 1rem;
}
.timer__wrapper div {
  display: flex;
}
.timer {
  background: #fff;
  padding: 0.5rem 1rem;
  display: inline-block;
  margin-right: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  border-radius: 0.5rem;
  -webkit-border-radius: 0.5rem;
  -moz-border-radius: 0.5rem;
  -ms-border-radius: 0.5rem;
  -o-border-radius: 0.5rem;
}
.timer span:first-child {
  font-size: 1.5rem;
  font-weight: 500;
}
.timer span:last-child {
  font-size: 0.75rem;
}
.timer__link {
  margin-top: 1rem;
  color: #fff;
  border-radius: 0.4rem;
  -webkit-border-radius: 0.4rem;
  -moz-border-radius: 0.4rem;
  -ms-border-radius: 0.4rem;
  -o-border-radius: 0.4rem;
  display: flex;
  align-items: center;
  text-decoration: none;
  font-size: 0.8rem;
}

.time__over {
  font-size: 1.25rem;
  color: #fff;
  font-weight: 600;
}
