.notice__container {
  margin-top: 1.5rem;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row-reverse;
  gap: 1rem;
}
.title {
  margin-top: 1rem;
  text-align: center;
  font-size: 1rem;
}
.notice__card {
  background: #fff;
  width: max-content;
  flex-basis: 1;
  box-shadow: 2px 2px 5px rgba(22, 153, 214, 0.3);
  border-left: 5px solid #db0155;
}
.notice__card .card__body {
  padding: 1rem 0.75rem;
  font-size: 0.85rem;
}
.notice__card .card__footer {
  padding: 0.3rem 0.75rem;
  background-color: rgba(187, 187, 187, 0.3);
  font-style: italic;
  font-size: 0.6rem;
}
.notice__card .card__footer span:last-child {
  font-weight: 500;
}
