.notice__container {
  margin-top: 2rem;
  background: #fff;
  border-radius: 0.5rem;
  -webkit-border-radius: 0.5rem;
  -moz-border-radius: 0.5rem;
  -ms-border-radius: 0.5rem;
  -o-border-radius: 0.5rem;
  padding: 1rem 1.25rem;
}
.notice__title {
  margin-bottom: 1.5rem;
  font-size: 1rem;
}
.input__wrap {
  display: flex;
  flex-direction: column;
}
.input__wrap textarea {
  outline: none;
  border: 1px solid #17db9a;
  padding: 0.65rem 1rem;
  margin-top: 0.5rem;
  border-radius: 0.4rem;
  -webkit-border-radius: 0.4rem;
  -moz-border-radius: 0.4rem;
  -ms-border-radius: 0.4rem;
  -o-border-radius: 0.4rem;
  width: 70%;
}
.btn__submit {
  border: none;
  outline: none;
  padding: 0.75rem 1.25rem;
  text-transform: capitalize;
  border-radius: 0.5rem;
  -webkit-border-radius: 0.5rem;
  -moz-border-radius: 0.5rem;
  -ms-border-radius: 0.5rem;
  -o-border-radius: 0.5rem;
  font-size: 0.95rem;
  cursor: pointer;
  background: #17db9a;
  color: #fff;
  margin-top: 1rem;
}
.btn__submit:disabled {
  background: #808080;
}

/* Hide the default file input button */
.input__wrap input[type="file"] {
  display: none;
}

/* Style the custom button to trigger the file input */
.input__wrap .label__wrapper {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.input__wrap .custom__button {
  display: inline-block;
  padding: 10px 15px;
  background-color: #3498db;
  color: #fff;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}

/* Style to display the selected file name */
.input__wrap .file__name {
  margin-top: 10px;
}

@media screen and (max-width: 576px) {
  .input__wrap textarea {
    width: 90%;
  }
}
