.title {
  text-align: center;
  margin: 1.5rem 0;
}
.reg__form {
  border: 1px solid #03002e;
  padding: 1rem 1.25rem;
}
.input_wrap {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
}
.input_wrap input {
  border: none;
  outline: none;
  padding: 0;
  width: 30%;
  padding: 1rem 1.5rem;
  width: 100%;
  margin-bottom: 1rem;
  border-radius: 0.3rem;
  -webkit-border-radius: 0.3rem;
  -moz-border-radius: 0.3rem;
  -ms-border-radius: 0.3rem;
  -o-border-radius: 0.3rem;
  align-self: baseline;
  border: 1px solid rgba(7, 102, 226, 0.85);
}
.input_wrap label input {
  margin-bottom: 0.2rem;
}
.input_wrap label {
  font-size: 0.75rem;
  font-weight: 500;
  position: relative;
}
.add_btn {
  position: absolute;
  right: 1rem;
  top: 1rem;
  border: none;
  outline: none;
  padding: 0;
  height: 1rem;
  width: 1rem;
  border: 2px solid #0766e2;
  background: transparent;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  font-weight: 600;
  color: #0766e2;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.add_btn:disabled {
  border-color: gray;
  color: gray;
  cursor: not-allowed;
}
.btn_submit {
  border: none;
  outline: none;
  padding: 0.8rem 1.2rem;
  background: #04c48a;
  text-transform: uppercase;
  color: #fff;
  border-radius: 0.3rem;
  -webkit-border-radius: 0.3rem;
  -moz-border-radius: 0.3rem;
  -ms-border-radius: 0.3rem;
  -o-border-radius: 0.3rem;
  margin-top: 1.2rem;
}
.btn_submit:disabled {
  background: gray;
}
.invalid__feedback {
  margin-top: 0.65rem;
  font-size: 0.65rem;
  color: rgba(255, 0, 0, 0.85);
  font-weight: 500;
}
.link_list {
  background: rgba(7, 102, 226, 0.3);
  padding: 0.5rem 1rem;
}

@media screen and (max-width: 576px) {
  .input_wrap {
    grid-template-columns: repeat(1, 1fr);
    gap: 0;
  }
  .input_wrap label {
    font-size: 0.65rem;
  }
}
