.video__player {
  margin-top: 2rem;
}
.video__player div {
  margin: 0 auto;
}
.resource__container {
  padding: 1rem 0;
}
.resource__tab p {
  margin-bottom: 0.5rem;
  padding: 0 1rem;
}
.btn__wrap {
  text-align: center;
  margin-top: 1rem;
}
.download__btn {
  border: none;
  outline: none;
  padding: 0.65rem 1rem;
  background-color: var(--primary-color);
  border-radius: 0.4rem;
  -webkit-border-radius: 0.4rem;
  -moz-border-radius: 0.4rem;
  -ms-border-radius: 0.4rem;
  -o-border-radius: 0.4rem;
  color: var(--white-color);
  font-size: 0.75rem;
  text-decoration: none;
}
.faq {
  font-size: 1.5rem;
  margin: 2.5rem 0;
  text-align: center;
  color: var(--dark-color);
  position: relative;
}
.faq span {
  color: var(--primary-color);
}
.faq::after {
  content: "";
  display: inline-block;
  width: 4rem;
  height: 3px;
  background: var(--primary-color);
  border-radius: 0.3rem;
  -webkit-border-radius: 0.3rem;
  -moz-border-radius: 0.3rem;
  -ms-border-radius: 0.3rem;
  -o-border-radius: 0.3rem;
  position: absolute;
  bottom: -0.75rem;
  left: 50%;
  transform: translate(-50%);
  -webkit-transform: translate(-50%);
  -moz-transform: translate(-50%);
  -ms-transform: translate(-50%);
  -o-transform: translate(-50%);
}
.note {
  margin-top: 2rem;
}
.note h3 {
  font-size: 1rem;
  margin-bottom: 1rem;
  color: #080430;
}
.reward__list {
  padding: 0 1.25rem;
}
.reward__list li {
  font-size: 0.95rem;
  font-weight: 500;
  color: #080430;
}
.reward__list li span {
  font-size: 0.65rem;
  color: #0a8ae6;
}

.about__mentor {
  margin-top: 2rem;
}
.about__mentor .title {
  font-size: 1.25rem;
  color: #100953;
  margin-bottom: 1rem;
}
.about__mentor p {
  display: flex;
  align-items: center;
}
.about__mentor .name,
.about__mentor .name svg {
  font-size: 1.75rem;
  font-weight: 600;
  color: #5e00ac;
}
.about__mentor p span,
.about__mentor p a {
  display: inline-block;
  margin-left: 0.75rem;
}
.about__mentor .category {
  margin-top: -0.3rem;
  font-size: 0.85rem;
  color: rgb(32, 187, 110);
  margin-left: 0.5rem;
  margin-bottom: 1rem;
}
.about__mentor .category svg {
  font-size: 0.85rem;
}
.about__mentor .email,
.about__mentor .website {
  margin-bottom: 0.5rem;
  font-size: 0.95rem;
  color: #2050ec;
}
.about__mentor .website a {
  text-decoration: none;
  color: #2050ec;
}

@media screen and (max-width: 768px) {
  .video__player div {
    width: 400px !important;
    height: 250px !important;
  }
}
@media screen and (max-width: 576px) {
  .video__player div {
    width: 300px !important;
    height: 180px !important;
  }
  .resource__tab p {
    padding: 0;
  }
}
