.student__data {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(51, 51, 51, 0.65);
}
.data__container {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 60%;
  /* height: 80%; */
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  background: #fff;
  padding: 2.75rem 1rem;
  border-radius: 0.4rem;
  -webkit-border-radius: 0.4rem;
  -moz-border-radius: 0.4rem;
  -ms-border-radius: 0.4rem;
  -o-border-radius: 0.4rem;
}
.close {
  position: absolute;
  top: 1rem;
  right: 1rem;
}
.close svg {
  font-size: 1.35rem;
  font-weight: 500;
  color: #c90a0a;
}
.data__container h3 {
  text-align: center;
  font-size: 1.25rem;
  margin-bottom: 1.5rem;
}
.basic_data {
  width: 50%;
  margin: 0 auto;
}
.basic_data p {
  font-size: 1.25rem;
  margin-bottom: 0.65rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.basic_data p span:first-child {
  display: inline-block;
  margin-right: 1rem;
  font-weight: 500;
  color: #00143a;
}
.success_wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 2.5rem;
  gap: 1rem;
}
.success_wrapper .success_rate {
  border: 5px solid #1fe069;
  height: 60px;
  width: 60px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  color: #0a8ae6;
}
.success_wrapper {
  color: #0a8ae6;
  font-size: 1rem;
  font-weight: 500;
}
@media screen and (max-width: 768px) {
  .data__container {
    width: 100%;
    height: 100%;
  }
  .basic_data {
    width: 100%;
  }
  .basic_data p {
    font-size: 0.85rem;
  }
}
