.students {
  margin: 2rem 0;
}

.students__title {
  font-size: 1.25rem;
}
.student__list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin-top: 1rem;
  grid-gap: 1rem;
}
.student__card {
  background: #fff;
  border-radius: 0.65rem;
  -webkit-border-radius: 0.65rem;
  -moz-border-radius: 0.65rem;
  -ms-border-radius: 0.65rem;
  -o-border-radius: 0.65rem;
  padding: 1rem 0.75rem;
  box-shadow: 1px 1px 5px rgba(138, 138, 138, 0.5);
  cursor: pointer;
  align-self: baseline;
}
.s__name {
  color: #100953;
  font-size: 1.2rem;
  margin-bottom: 0.25rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.s__name .edit {
  align-self: baseline;
}
.s__name .edit svg {
  font-size: 2rem;
  background: #15cf91;
  color: #fff;
  padding: 0.4rem;
  border-radius: 0.4rem;
  -webkit-border-radius: 0.4rem;
  -moz-border-radius: 0.4rem;
  -ms-border-radius: 0.4rem;
  -o-border-radius: 0.4rem;
}
.batch__id {
  color: #807e7e;
  font-size: 0.75rem;
}
.footer {
  display: flex;
  justify-content: space-between;
  font-size: 0.8rem;
  color: #807e7e;
  margin-top: 0.5rem;
}
.view__btn {
  border: none;
  outline: none;
  padding: 0.5rem 1rem;
  border-radius: 0.3rem;
  -webkit-border-radius: 0.3rem;
  -moz-border-radius: 0.3rem;
  -ms-border-radius: 0.3rem;
  -o-border-radius: 0.3rem;
  background: #0a8ae6;
  color: #fff;
  display: flex;
  align-items: center;
  font-size: 0.65rem;
}
.view__btn svg {
  font-size: 0.85rem;
}

@media screen and (max-width: 768px) {
  .student__list {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (max-width: 576px) {
  .student__list {
    grid-template-columns: repeat(1, 1fr);
  }
}
