.content_wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(51, 68, 51, 0.6);
  z-index: 100;
}
.content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  background: #fff;
  padding: 1rem 1.2rem;
  border-radius: 0.3rem;
  -webkit-border-radius: 0.3rem;
  -moz-border-radius: 0.3rem;
  -ms-border-radius: 0.3rem;
  -o-border-radius: 0.3rem;
}

.input__wrap {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 1.2rem;
  margin-bottom: 1.25rem;
}
.input__wrap input {
  border: 1px solid #021e2e;
  outline: none;
  padding: 0.75rem 1.2rem;
  border-radius: 0.2rem;
  -webkit-border-radius: 0.2rem;
  -moz-border-radius: 0.2rem;
  -ms-border-radius: 0.2rem;
  -o-border-radius: 0.2rem;
}
.update__btn,
.cancel__btn {
  background: #0bc26c;
  color: #fff;
  padding: 0.65rem 1rem;
  border: none;
  outline: none;
  margin-right: 1rem;
  border-radius: 0.2rem;
  -webkit-border-radius: 0.2rem;
  -moz-border-radius: 0.2rem;
  -ms-border-radius: 0.2rem;
  -o-border-radius: 0.2rem;
}
.cancel__btn {
  background: #cc0839;
  color: #fff;
}
.update__btn:disabled {
  background: gray;
  color: #fff;
}

.popup__message {
  width: max-content;
  padding: 0.4rem 1rem;
  background: #0bc26c;
  color: #fff;
  border-radius: 0.2rem;
  -webkit-border-radius: 0.2rem;
  -moz-border-radius: 0.2rem;
  -ms-border-radius: 0.2rem;
  -o-border-radius: 0.2rem;
  position: fixed;
  top: -100%;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  z-index: 999;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 0.85rem;
  transition: all 0.7s ease-in-out;
  -webkit-transition: all 0.7s ease-in-out;
  -moz-transition: all 0.7s ease-in-out;
  -ms-transition: all 0.7s ease-in-out;
  -o-transition: all 0.7s ease-in-out;
}
.popup__message span:last-child {
  display: inline-block;
  margin-left: 0.5rem;
  margin-top: 0.2rem;
}
.popup__message span svg {
  font-size: 0.95rem;
}
.popup__message.active {
  top: 1.2rem;
}

@media screen and (max-width: 768px) {
  .input__wrap {
    grid-template-columns: repeat(1, 1fr);
  }
  .content {
    width: 100%;
    top: 50%;
    left: 0;
    transform: translate(0, -50%);
    -webkit-transform: translate(0, -50%);
    -moz-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    -o-transform: translate(0, -50%);
  }
}
