* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #edf7fc;
}
.container {
  width: 900px;
  margin: 0 auto;
  overflow: hidden;
  padding: 0 1rem;
}
.btn {
  border: none;
  outline: none;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  -webkit-border-radius: 0.5rem;
  -moz-border-radius: 0.5rem;
  -ms-border-radius: 0.5rem;
  -o-border-radius: 0.5rem;
}

@media screen and (max-width: 1024px) {
  .container {
    width: 95%;
  }
}
@media screen and (max-width: 768px) {
  .container {
    width: 98%;
  }
}
